@import url(variable.css);

* {
    margin: 0;
    padding: 0;
    
    font-family: "SF-Pro-Text-Regular";
}


.header {
    width: 100%;
    padding: 0 .5em;
    /* height: 60px; */
    /* background: darkgoldenrod; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
    top: 0;
    background: var(--color-ternario);
}

.header__logo {
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 5px;

}

.logo__icono {
    /* background: green; */
}

.logo__icono img {
    width: 3em;
}

.logo__titulo {
    /* background: orange; */
    color:  var(--color-primario);;
    font-family: "SF-Pro-Text-Bold";
    text-transform: uppercase;
}

.header__menu {
    /* background: darkblue; */
}

.header__menu i {
    font-size: 3em;
    color: var(--color-primario);
}
/*creacion de la tercera pagina de la app-------------------------------------------------------------*/

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    padding: 0 .8em;
    grid-template-areas: 
    "totalbalance"
    "totalbalance"
    "totalbalance"
    "options"
    "grafica_balance"
    "grafica_balance"
    "grafica_balance"
    "banner"
    "banner";
    grid-gap: 10px;
}
.main__title,
.main__title2{
    /* background: red; */
    grid-area: investing;
    margin-top: 1em;
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: "SF-Pro-Text-Bold";
    color: var(--color-primario);
}
.main__banner{
    /* background: orange; */
    height: 170px;
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: 0px;
}
.banner__public{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background: #00dda22f;
    grid-template-areas: 
    "logo description";
}
.public__logo{
    /* background: blue; */
    /* border-bottom-right-radius: 100px; */
    /* border-top-right-radius: 100px; */
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.public__logo div{
    position: absolute;
    /*background: var(--color-secundario); (necesario para el contorno de el fondo general)*/
    opacity: .2;
    z-index: -1;
    right: 3px;
    width: 700px;
    height: 400px;
    border-radius: 100%;
}
.public__logo img{
    width: 70%;
    /* height: 160px; */
    padding: 10px;
    object-fit: contain;
}
.public__description{
    /* background: violet; */
    grid-area: description;
    text-align: center;
}
.public__description p{
    font-family: "SF-Pro-Text-Bold";
    font-size: 1.3em;
    color: var(--color-primario);
    margin-top: 20px;
}
.public__description small{
    display: block;
    font-family: "SF-Pro-Text-Regular";
    font-size: 0.7em;
    color: var(--color-cuarto);
}

.description__close{
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.description__close i {
    /* background: red; */
    border-radius: 100%;
    padding: 5px;
    background: var(--color-secundario);
    color: var(--color-ternario);
}

.total_balance{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00DDA3;
    border-radius: 50%;
    width: 175px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 175px; /* Ajusta el tamaño del círculo según tus necesidades */
    padding: 30px;
    margin: auto;
    color: white;
    
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;

    
}
.options button{
    width: 10vh;
    height: 4vh;
    border-radius: 20vh;
}
.black{
    background: #33404F;
    color: white
}
.green{
    background: white;
    border-color: #00DDA3;
    color: #00DDA3;
}
.white{
    background: white;
    color: #B5C5C3
}

.grafica_balance{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}



/*limite de la segunda pagina--------------------------------------------------------------------------------*/
.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}


.footer {
    width: 100%;
    background: var(--color-primario);
    position: fixed;
    bottom: 0;
    z-index: 10;
}

.footer ul {
    display: flex;
    justify-content: space-around;
}

.footer ul li {
    list-style: none;
    margin: .5em 0;
}

.footer ul li a img {
    width: 2em;
}