<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/balance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/inveto.svg">
            </div>
            <div class="logo__titulo">invento</div>
        </div>
        <div class="header__menu">
            <i class='bx bx-menu'></i>
        </div>
    </header>
    <section class="total_balance">
        <h3>Total Balance</h3>
        <h3>$214,417</h3>

    </section>
    <section class="options">
        <button>Assets</button>
        <button>Debt</button>
        <button>Income</button>

    </section>
    <section class="grafica_balance">
        <img src="../storage/img/grafica_balance.png">

    </section>
    <section class="main__banner">     
        <div class="banner__public">
            <div class="public__logo">
                <div>1</div>
                <img src="../storage/img/spending.svg">
            </div>
            <div class="public__description">
                <div class="description__close">
                    <i class="bx bx-bx"></i>
                </div>
                <p>spending</p>
                <small>You forgot to add debt card number at payment #1323.Add it now.</small>
                

            </div>
            
        </div>
    </section>


    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/casita.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_1.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_2.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_3.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/icon_4.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>
</body>
</html>